h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

a {
  color: white;
  display: block;
  text-align:center;
}

div {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}