.login {
  overflow: hidden;
  background-color: #292C33;
  padding: 80px 40px 80px 40px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100vh - 40px);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
}

.login::before, .login::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.login::before {
  left: 50%;
  bottom:-50%;
  background-color: #434854;
  opacity: 0.7;
  -webkit-animation: wawes 25s infinite linear;
  -moz-animation: wawes 25s infinite linear;
  animation: wawes 25s infinite linear;
}
.login::after {
  left: 30%;
  bottom: -100%;
  background-color: #434854;
  opacity: 0.5;
  -webkit-animation: wawes 25s infinite;
  -moz-animation: wawes 25s infinite;
  animation: wawes 25s infinite;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.login > img {
    border: 2px solid #000;
    border-radius: 20px;
}

.login > img:hover {
    border: 2px solid #A9B5D4;
    border-radius: 20px;
    cursor: pointer;
}